<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-8">
        <h1>
          <b class="cliente-title">Información de
            <span data-ng-bind="user.firstName"></span>
            <span data-ng-bind="user.lastName"></span>
          </b>
        </h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" data-ui-sref="admin.user-edit({userId: user._id})" ng-if="authentication.user.roles != 'admin,user'">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();" ng-if="user._id !== authentication.user._id && authentication.user.roles != 'admin,user'">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <strong class="descripcion">Nombre completo</strong>
        </div>
        <div class="col-md-6" data-ng-bind="user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <strong class="descripcion">Apellido</strong>
        </div>
        <div class="col-md-6" data-ng-bind="user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <strong class="descripcion">Email</strong>
        </div>
        <div class="col-md-6" data-ng-bind="user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <strong class="descripcion">Autenticación</strong>
        </div>
        <div class="col-md-6" data-ng-bind="user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <strong class="descripcion">Fecha de registro</strong>
        </div>
        <div class="col-md-6" data-ng-bind="user.created | date:'mediumDate'"></div>
      </div>
      <hr/>
      <div class="row" data-ng-show="authentication.user.roles != 'admin,user'">
        <div class="col-md-4">
          <strong class="descripcion">Roles</strong>
        </div>
        <div class="col-md-6" data-ng-bind="user.roles"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <strong class="descripcion">Nombre del puesto</strong>
        </div>
        <div class="col-md-6" data-ng-bind="user.job"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <strong class="descripcion">Departamento</strong>
        </div>
        <div class="col-md-6" data-ng-bind="user.department"></div>
      </div>
      <br>
    </div>
  </div>
  <br>
</section>
