<section>
  <div class="page-header">
    <h1>
      <b>Información de
        <span data-ng-bind="user.firstName"></span>
        <span data-ng-bind="user.lastName"></span>
      </b>
    </h1>
  </div>
  <div class="col-md-12">
    <form name="userForm" class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="firstName" style="color: moccasin;">Nombre Completo</label>
          <div class="controls">
            <input name="firstName" type="text" data-ng-model="user.firstName" id="firstName" class="form-control" placeholder="First Name"
              required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="lastName" style="color: moccasin;">Apellidos</label>
          <div class="controls">
            <input type="text" name="lastName" data-ng-model="user.lastName" id="lastName" class="form-control" placeholder="Last Name"
            />
          </div>
        </div>

        <div class="form-group" data-ng-show="authentication.user.roles != 'user,jefe,admin'">
          <label class="control-label" for="department" style="color: moccasin;">Departamento</label>
          <select name="department" ng-model="user.department" id="department" class="form-control" required>
            <option value="" disabled selected> Seleccione el departamento</option>
            <option value="Alcaldía Municipal"> Alcaldía</option>
            <option value="Archivo Central"> Archivo Central</option>
            <option value="Auditoría Interna"> Auditoría Interna</option>
            <option value="Bienes Inmuebles"> Bienes Inmuebles</option>
            <option value="CECUDI"> CECUDI</option>
            <option value="Contabilidad"> Contabilidad</option>
            <option value="Cuadrilla Municipal"> Cuadrilla Municipal</option>
            <option value="Desarrollo y Control Urbano"> Desarrollo y Control Urbano</option>
            <option value="Escuela Municipal de Música"> Escuela Municipal de Música</option>
            <option value="Gestión de Cobros"> Gestión de Cobros</option>
            <option value="Hacienda Municipal"> Hacienda Municipal</option>
            <option value="Igualdad de Género y Desarrollo Social"> Igualdad de Género y Desarrollo Social</option>
            <option value="Programación y Ejecución Presupuestaria"> Programación y Ejecución Presupuestaria</option>
            <option value="Proveeduría"> Proveeduría</option>
            <option value="Recursos Humanos"> Recursos Humanos</option>
            <option value="Secretaría del Concejo Municipal"> Secretaría del Concejo Municipal</option>
            <option value="Servicios Informáticos"> Servicios Informáticos</option>
            <option value="Servicios Jurídicos"> Servicios Jurídicos</option>
            <option value="Tesorería"> Tesorería</option>
            <option value="Topografía"> Topografía</option>
            <option value="Unidad Técnica de Gestión Ambiental"> Unidad Técnica de Gestión Ambiental</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="job" style="color: moccasin;">Nombre del puesto</label>
          <div class="controls">
            <input name="job" type="text" data-ng-model="user.job" id="job" class="form-control" placeholder="Nombre del puesto">
          </div>
        </div>

        <div class="form-group" data-ng-show="authentication.user.roles != 'user,jefe,admin'">
          <label class="control-label" for="roles" style="color: moccasin;">Roles</label>
          <select name="roles" ng-model="user.roles" id="roles" class="form-control" required>
            <option value="" disabled selected> Seleccione el rol</option>
            <option value="admin"> Administrador</option>
            <option value="admin">Consejo Municipal</option>
            <option value="jefe"> Jefe Departamento</option>
            <option value="user"> Colaborador</option>
            <option value="secretaria"> Secretaria</option>
          </select>
        </div>

        <div class="text-center form-group">
          <input type="submit" value="Actualizar" class="btn btn-primary">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>